
* {
    font-family: "Poppins", sans-serif;
    transition: 0.25s ease;
}

.consulta-container {
    margin-left: 150px;
    min-height: 100vh;
    background: linear-gradient(180deg, #f4e9d8, #f7f2e7);
    display: flex;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.titulo-principal {
    font-size: 2.2rem;
    font-weight: 800;
    color: #8b2e1f; 
    margin-bottom: 1rem;
    text-align: center;
}

.subtitulo {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #a1452f;
}

.filtros-container {
    background: #fff7ec;
    border-radius: 18px;
    padding: 25px;
    width: 23%;
    min-width: 260px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    border: 2px solid #e0c6a4;
}

.filtros-grid label {
    font-weight: 600;
    color: #734127;
}

select,
input {
    width: 100%;
    padding: 12px 14px;
    font-size: 0.95rem;

    border: 1px solid #d7b89b;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 16px;

    background: #fffdf8;
}

select:focus,
input:focus {
    outline: none;
    border-color: #d86e47;
    box-shadow: 0 0 0 3px rgba(216,110,71,0.25);
}

.acoes button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #d86e47, #b34224);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    box-shadow: 0 4px 12px rgba(150, 60, 25, 0.3);
}

.acoes button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #e47c52, #c94a27);
}

.cards-container {
    flex: 1;
}

.cards {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.card {
    background: #fff8ee;
    border-radius: 16px;
    padding: 22px;

    border: 1px solid #e0c6a4;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}

.card h3 {
    font-size: 1.4rem;
    font-weight: 800;
    color: #8b2e1f;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.05rem;
    color: #5a4035;
    margin: 3px 0;
}
